<!DOCTYPE html>
<html>
    <head>
        <title>NEURetro</title>
        <link rel="stylesheet" href="./css/site.css"/>
    </head>
    <body class="jersey-25-regular">
        <%- include(header, {userID: userID}) %>
        <h1>Home</h1>
        <p>
            Discover the world of NEURetro. In this game, you ascend via the various platforms and keep up, <br> or else you meet your doom [hahaha >:)]. Don't want to lose your progress and your place on the leaderboard? 
            <br> <a href="/register">Register now</a> and mark your place on the leaderboard!
        </p>
        <img class="gamePreview" src="./images/Forest Level.png" alt="kek" />
        <footer>
            Copyright © 2024 OASIS
        </footer>
    </body>
</html>