<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/site.css"/>
    </head>
    <body>
        <%- include(header, {userID: userID}) %>
        <h1>Login</h1>
        <p id="errorText"> <%= errorText %> </p>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" value="<%= username %>" required>
            <br>
            <input type="password" name="password" placeholder="password" value="<%= password %>" required>
            <br>
            <button type="submit">Login</button>
        </form>
        <br>
        <a href="/resetpassword">Forgot password? Click here to recover password</p>
        <footer>
            Copyright © 2024 OASIS
        </footer>
    </body>
</html>