<!DOCTYPE html>
<html>
    <head>
        <title>NEURetro</title>
        <link rel="stylesheet" href="./css/site.css"/>
    </head>
    <body class="jersey-25-regular">
        <%- include(header, {userID: userID}) %>
        <h1>Home</h1>
        <p>
            Discover the world of NEURetro. In this game, you traverse through the various courses, collect items, <br>
            and defeat enemies in your way to increase your score in the leaderboard. Don't want to lose your progress<br> 
            and your place on the leaderboard? <a href="/register">Register now</a> and mark your place on the leaderboard!
        </p>
        <img src="./images/Forest Level.png" alt="kek" />
        <footer>
            Copyright © 2024 OASIS
        </footer>
    </body>
</html>