<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include(header, {userID: userID}) %>
        <h1>Reset Password</h1>
        <p id="errorText"> <%= errorText %> </p>
        <form action="/resetpassword" method="post">
            <input type="text" name="username" placeholder="Username" value="<%= username %>" required>
            <br>
            <select id="question1" name="question1" required>
                <option value="">Select your favorite color</option>
                <option value="Red">Red</option>
                <option value="Blue">Blue</option>
                <option value="Green">Green</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <select id="question2" name="question2" required>
                <option value="">Select your favorite animal</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bird">Bird</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <select id="question3" name="question3" required>
                <option value="">Select your region</option>
                <option value="North America">North America</option>
                <option value="Europe">Europe</option>
                <option value="Asia">Asia</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <label for="password">New Password:</label>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>