<!DOCTYPE html>
<html>
    <head>
        <title>NEURetro</title>
        <link rel="stylesheet" href="./css/site.css"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a href="/leaderboard">Leaderboard</a>
            </nav>
        </header>
        <h1>Home</h1>
        <p>
            Discover the world of {placeholder}. Here is this game, traviers through the various cources in {placeholder}.<br> Collect item
            and defeat emeines in your way to increase your score in the leaderboard. Don't want to lose your progess<br> and your places on the leaderboard?
            <a href="/register">Register now</a> and mark your place on the leaderboard!
        </p>
        <img src="./images/Forest Level.png" alt="kek" />
        <footer>
            Copyright © 2024 OASIS
        </footer>
    </body>
</html>