<header class="jersey-25-regular">
    <nav>
        <a href="/">Home</a>
        <% if(!username){ %>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        <% } else { %>
            <a href="/profile/<%= username %>">Profile</a>
            <a href="/game">Game</a>
            <a href="/logout">Logout</a>
        <% } %>
        <a href="/leaderboard">Leaderboard</a>
    </nav>
</header>